In [1]:
#integer
a=7
type(a)

int

In [2]:
#float
x = 7.25
type(x)

float

In [3]:
# boolean
b1 = True
b2 = False

type(b1)

bool

In [4]:
# string
name = 'Awesome'
type(name)

str

In [7]:
#complex numbers
x = 7 - 5.2j
type(x)

complex

In [10]:
print(x)

(7-5.2j)

In [9]:
print(x.real, x.imag)

7.0 -5.2

In [1]:
tenth = 10
two = 2
print(tenth)
two

10

2

In [3]:
ten = 10
ten

10

In [5]:
ten = 'ten'
ten

'ten'

In [6]:
'Day ' + 1

TypeError: can only concatenate str (not "int") to str

In [8]:
'Day ' + str(2)

'Day 2'

In [11]:
True and True

True

In [16]:
True and False

False

In [18]:
True or True

True

In [20]:
True or False

True

In [22]:
not True

False

In [26]:
not False

True

In [28]:
True is True

True

In [30]:
True is False

False

In [32]:
False is True

False

In [33]:
'j' is 'j'

<>:1: SyntaxWarning: "is" with a literal. Did you mean "=="?
<>:1: SyntaxWarning: "is" with a literal. Did you mean "=="?
<ipython-input-33-ce7c433ea2b2>:1: SyntaxWarning: "is" with a literal. Did you mean "=="?
  'j' is 'j'

True

# Branching (if,elif,else)

In [35]:
i = 5
if i < 5:
    print('less than 5')
elif i < 7:
    print('less than 7')
else:
    print('7 or more')

less than 7

# list

In [37]:
l = []
l

[]

In [39]:
x = list()
x

[]

In [43]:
l = ['x' ,'y' ,'z']
print(l)
type(l)

['x', 'y', 'z']

list

In [52]:
l = ['a', 0]
l

['a', 0]

In [57]:
l2= list(l)
l2

['a', 0]

In [59]:
list('abcde')

['a', 'b', 'c', 'd', 'e']

In [61]:
l = [1,2]
print(l)
l.append('a')
print(l)
l.append('z')
print(l)
l.insert(2,3)
l

[1, 2]
[1, 2, 'a']
[1, 2, 'a', 'z']

[1, 2, 3, 'a', 'z']

# for loop

In [66]:
for i in l:
    print(i)

1
2
3
a
z

In [67]:
#sum of all numbers
nos = [1,3,5,7,9,52,27]
sum = 0
for i in nos:
    sum = sum + i
print("sum is:",sum)
sum

sum is: 104

104

In [80]:
digits = [5,7,18]
for i in digits:
    print(i)
else:
    print("No items left.")
i

5
7
18
No items left.

18

# while loop

In [1]:
#while loop
n = int(input("Enter n:"))
sum = 0
i = 1
while i <= n:
    sum = sum + i
    i = i + 1
print("Sum is:",sum)
sum

Enter n:10
Sum is: 55

55

# range()

In [81]:
print(range(10))

range(0, 10)

In [82]:
print(list(range(1,10)))

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [84]:
print(list(range(1,20,5)))

[1, 6, 11, 16]

In [2]:
print(range(20))

range(0, 20)

In [3]:
print(list(range(14)))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13]

In [4]:
print(list(range(5,20)))

[5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [5]:
print(list(range(0,20,5)))

[0, 5, 10, 15]

In [6]:
genre = ['white','black','blue','red','voilet']
for i in range(len(genre)):
    print("I like",genre[i])

I like white
I like black
I like blue
I like red
I like voilet

# break

In [32]:
for val in 'MANOJKUMAR':
    if val == 'U':
        break
    print(val)
print("End")

M
A
N
O
J
K
End

# continue

In [35]:
for val in 'MANOJKUMAR':
    if val == 'U':
        continue
    print(val)
print("End")

M
A
N
O
J
K
M
A
R
End

In [2]:
name = input("Enter your name ")
type(name)

Enter your name Manu

str

In [3]:
age = int(input("What is your age:"))
print("Your age is",age)
type(age)

What is your age:21
Your age is 21

int

In [1]:
name = input("What is your name? ")
print("It was nice talking to you " + name + "!")
age = input("Enter your age? ")
print("Hey, you are already " + age + " years old, " + name + "!")

What is your name? Manu
It was nice talking to you Manu!
Enter your age? 21
Hey, you are already 21 years old, Manu!