In [3]:
import math

In [4]:
math.ceil(2.4)

3

In [5]:
print(dir(math))

['__doc__', '__file__', '__loader__', '__name__', '__package__', '__spec__', 'acos', 'acosh', 'asin', 'asinh', 'atan', 'atan2', 'atanh', 'ceil', 'comb', 'copysign', 'cos', 'cosh', 'degrees', 'dist', 'e', 'erf', 'erfc', 'exp', 'expm1', 'fabs', 'factorial', 'floor', 'fmod', 'frexp', 'fsum', 'gamma', 'gcd', 'hypot', 'inf', 'isclose', 'isfinite', 'isinf', 'isnan', 'isqrt', 'ldexp', 'lgamma', 'log', 'log10', 'log1p', 'log2', 'modf', 'nan', 'perm', 'pi', 'pow', 'prod', 'radians', 'remainder', 'sin', 'sinh', 'sqrt', 'tan', 'tanh', 'tau', 'trunc']

In [8]:
help(math.ceil)

Help on built-in function ceil in module math:

ceil(x, /)
    Return the ceiling of x as an Integral.

    This is the smallest integer >= x.

In [9]:
import foo.bar

ModuleNotFoundError: No module named 'foo'

In [10]:
from foo import bar

ModuleNotFoundError: No module named 'foo'

In [11]:
__init__.py:

__all__ = ["bar"]

SyntaxError: invalid syntax (<ipython-input-11-45d8bf1c62c0>, line 1)

In [12]:
print("Hello")

Hello

In [14]:
try:
    f = open('testfile','w')
    f.write('Test write this')
except IOError:
    print("Error: Could not find file or read data")
else:
    print("Content written successfully")
    f.close()

Content written successfully

In [16]:
try:
    f = open('testfile','r')
    f.write('Test write this')
except IOError:
    print("Error: Could not find file or read data")
else:
    print("Content written successfully")
    f.close()

Error: Could not find file or read data

In [18]:
try:
    f = open('testfile','w')
    f.write('Test write this')
except:
    print("Error: Could not find file or read data")
else:
    print("Content written successfully")
    f.close()

Content written successfully

In [20]:
try:
    f = open("testfile", "w")
    f.write("Test write statement")
finally:
    print("Always execute finally code blocks")

Always execute finally code blocks

In [22]:
def askint():
        try:
            val = int(input("Please enter an integer: "))
        except:
            print("Looks like you did not enter an integer!")
            
        finally:
            print("Finally, I executed!")
        print(val)

In [23]:
askint()

Please enter an integer: 7
Finally, I executed!
7

In [25]:
def askint():
        try:
            val = int(input("Please enter an integer: "))
        except:
            print("Looks like you did not enter an integer!")
            val = int(input("Try again-Please enter an integer: "))
        finally:
            print("Finally, I executed!")
        print(val)

In [26]:
askint()

Please enter an integer: Z
Looks like you did not enter an integer!
Try again-Please enter an integer: 52
Finally, I executed!
52

In [34]:
def askint():
    while True:
        try:
            val = int(input("Please enter an integer: "))
        except:
            print("Looks like you did not enter an integer!")
            continue
        else:
            print('Yep thats an integer!')
            break
        finally:
            print("Finally, I executed!")
        print(val)

In [35]:
askint()

Please enter an integer: Z
Looks like you did not enter an integer!
Finally, I executed!
Please enter an integer: 522
Yep thats an integer!
Finally, I executed!

#Database connectivity and operations in python

In [45]:

import sqlite3
#connecting with the database.

db = sqlite3.connect("my_database1.db")

# Drop table if it already exist using execute() method.
db.execute("drop table if exists grades1")

# Create table as per requirement
db.execute("create table grades1(id int, name text, score int)")

#inserting values inside the created table
db.execute("insert into grades1(id, name, score) values(71, 'Johnny dep',70 )")
db.execute("insert into grades1(id, name, score) values(72, 'emma watson',80 )")
db.execute("insert into grades1(id, name, score) values(73, 'camela cabello', 80 )")
db.execute("insert into grades1(id, name, score) values(74, 'selena gomez', 80 )")
db.execute("insert into grades1(id, name, score) values(75, 'dharia',90 )")

In [46]:
db.commit()

In [47]:
results = db.execute("select * from grades1 order by id")
for row in results:
    print(row)
print("-" * 60 )

(71, 'Johnny dep', 70)
(72, 'emma watson', 80)
(73, 'camela cabello', 80)
(74, 'selena gomez', 80)
(75, 'dharia', 90)
------------------------------------------------------------

In [49]:
results = db.execute("select * from grades1 where name = 'Gary' ")
for row in results:
    print(row)
print("-" * 60 )

------------------------------------------------------------

In [50]:
results = db.execute("select * from grades1 where score >= 90 ")
for row in results:
    print(row)
print("-" * 60 )

(75, 'dharia', 90)
------------------------------------------------------------

In [51]:
results = db.execute("select * from grades1 where name = 'Gary' ")
for row in results:
    print(row)
print("-" * 60 )

------------------------------------------------------------

In [52]:
results = db.execute("select name, score from grades1 order by score desc ")
for row in results:
    print(row)
print("-" * 60 )

('dharia', 90)
('emma watson', 80)
('camela cabello', 80)
('selena gomez', 80)
('Johnny dep', 70)
------------------------------------------------------------

In [53]:
results = db.execute("select name, score from grades1 order by score")
for row in results:
    print(row)
print("-" * 60 )

('Johnny dep', 70)
('emma watson', 80)
('camela cabello', 80)
('selena gomez', 80)
('dharia', 90)
------------------------------------------------------------

In [54]:
results = db.execute("select name, score from grades1 order by score")
for row in results:
    print(row)

('Johnny dep', 70)
('emma watson', 80)
('camela cabello', 80)
('selena gomez', 80)
('dharia', 90)